@font-face {
  font-family: YatraOne;
  src: url(../fonts/Yatra_One/YatraOne-Regular.ttf);
}

@font-face {
  font-family: SourceCode;
  src: url(../fonts/Source_Code_Pro/SourceCodePro-Medium.ttf);
}

a:hover {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*****************************************************HEADER-START************************************************************/

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0;
  min-width: 722px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  z-index: 100;
}

.logo {
  display: flex;
}

.logo h2 {
  align-self: center;
  margin-left: 20px;
  font-size: 1.9rem;
  color: #ff7f50;
  font-family: YatraOne;
}

.search-container {
  display: flex;
}

.search-container button {
  float: right;
  margin-right: 8px;
  padding: 3px 2px;
  background: #ddd;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
  cursor: pointer;
}

.search-container form,
img {
  align-self: center;
}

.search-container input {
  padding: 6px;
  font-size: 1rem;
  width: 300px;
}

.header-menu {
  align-self: center;
}

.pic {
  margin-left: 10px;
}
.main {
  margin-left: 80px;
  margin-top: 70px;
}

/*****************************************************HEADER-END************************************************************/

.content {
  display: flex;
}

/*****************************************************ASIDE-START************************************************************/
.aside {
  display: flex;
  grid-area: sidebar;
  height: 100%;
  width: 250px;
  flex-direction: column;
  font-family: SourceCode;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: #c8c8c8;
  overflow-x: hidden;
}
.aside::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.aside {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.aside-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.streamer-block {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.streamer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.streamer p {
  align-self: center;
  margin-left: 10px;
}

.subscribers {
  align-self: center;
  display: flex;
}

.subscribers-number {
  margin-left: 5px;
}

.subscribers-circle {
  border: 2px solid #ff0000;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-top: 5px;
  background-color: #ff0000;
}

.aside-footer-wrapper {
  padding: 20px;
  text-align: center;
  margin-bottom: 70px;
}

.aside-footer {
  background-color: #a9a9a9;
  padding: 20px;
}

.aside-footer-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.aside-footer-icons img {
  margin-left: 5px;
}

/*****************************************************ASIDE-END************************************************************/

/*****************************************************Carousel-START************************************************************/
div.carousel {
  height: 55vh;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
div.carousel input[type="radio"] {
  display: none;
}

div.carousel .card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

div.carousel .container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.carousel .cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

div.carousel img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

div.carousel #item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

div.carousel #item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

div.carousel #item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
div.carousel #item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
div.carousel .upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}
div.carousel #item-2:checked ~ .player #test {
  transform: translateY(0);
}

div.carousel #item-2:checked ~ .player #test {
  transform: translateY(-40px);
}

div.carousel #item-3:checked ~ .player #test {
  transform: translateY(-80px);
}
/*****************************************************Carousel-END************************************************************/
.main-videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fill, 250px);
  gap: 30px;
  justify-content: center;
}
.video img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.video-info img {
  width: 20%;
  margin-right: 4%;
  object-fit: fill;
}
.video-info {
  margin: 5% 2%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.video-image {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  position: relative;
  background-color: black;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  display: block;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
img.middle {
  width: 35%;
  height: auto;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  object-fit: cover;
}

.video-image:hover .image {
  opacity: 0.3;
}

.video-image:hover .middle {
  opacity: 1;
}

.video-descipt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.video-context-menu {
  display: flex;
  justify-content: center;
}
.video-title {
  font: 0.8em sans-serif;
  font-weight: bold;
}
.video-author-name {
  font: 0.6em sans-serif;
  font-weight: lighter;
}
.time {
  font: 0.9em sans-serif;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2%;
  border-radius: 8px;
  position: absolute;
  top: 81% !important;
  right: 2%;
  display: inherit;
}

/*****************************************************MAIN-START************************************************************/

.main {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  height: 100%;
  width: 100%;
  width: 100%;
  overflow: hidden;
}

.main-categories {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
  margin: 20px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.main-categories::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-categories {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.category.active {
  background-color: coral;
}

.category {
  padding: 7px 10px;
  background-color: #f5f5f5;
  color: black;
  border: 1px solid darkgray;
  border-radius: 30px;
  margin-left: 10px;
  font-family: SourceCode;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.category:hover {
  background: #c8c8c8;
  cursor: pointer;
}

/*****************************************************MAIN-END************************************************************/

/*****************************************************FOOTER-START************************************************************/

.footer {
  display: flex;
  justify-content: center;
  font-family: SourceCode;
}

.footer p {
  margin-right: 10px;
}

/*****************************************************FOOTER-END************************************************************/

@media (max-width: 1150px) {
  .aside {
    width: 80px;
  }
  .main {
    margin-left: 80px;
  }
  .streamer p {
    display: none;
  }
  .subscribers {
    display: none;
  }
  .aside-footer-wrapper {
    display: none;
  }
}
